@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F6F2FA;
}

.fc {
  direction: ltr;
  text-align: left;
}

.fc .fc-toolbar-title {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Стили для событий */
.fc .fc-daygrid-event {
  background-color: #BFA2DB;
  color: white;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 0.9rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

/* Эффект при наведении */
.fc .fc-daygrid-event:hover {
  transform: scale(1.02);
  background-color: #a98ec9;
}